.country{
    border: 2px solid skyblue;
    background-color: #213547;
    margin: 15px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-content: center;
    align-self: center;
    justify-items: center;

    align-items: center;
}
.container{
    border: 2px solid skyblue;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    align-items: center;
}
.country-data{
    border: 2px solid skyblue;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #213547;

    align-items: center;
}